/* style for intrp */

.intro {
    border: none;
    padding: 30px 12px;
    display: block;
    margin-left: 16px;
    background-image: url(img/pic.jpg);
    width: 100%;
    height:70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro h2 {
    color: navy;
    font-style: bold;
    font-family: fantasy;
}

.intro span {
    color: gray;
    font-style: bold;
    font-family: fantasy;
}

.intro a {
    border: 1px solid black;
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 8px 10px;
    text-decoration: none;
}
.intro p {
    color: 1px solid cadetblue;
    font-family: serif;
}

